pip install numpy==1.23.5
pip install pandas==2.1.3
pip install opencv-python==4.8.0.74
pip install opencv-contrib-python==4.8.0.76
pip install matplotlib==3.7.1
pip install keras==3.4.1
pip install scikit-learn==1.5.1
pip install tensorflow==2.14.0
pip install seaborn==0.13.2
pip install torch==2.3.1
pip install torchvision==0.18.1
pip install h5py==3.10.0
pip install scikit-learn==1.2.2
pip install protobuf==3.20.1
pip install ultralytics==8.3.74
pip install ultralytics-thop==2.0.14


